In [24]:
import pandas as pd

midwest_df = pd.read_csv("Resources/midwest.csv")
avg_col = midwest_df.loc[:, 'Illinois (IL)':'South Dakota (SD)']
midwest_df['Midwest'] = avg_col.mean(axis=1)
midwest_df = midwest_df[['Date','Midwest']]

northeast_df = pd.read_csv("Resources/northeast.csv")
avg_col = northeast_df.loc[:, 'Connecticut (CT)':'Pennsylvania (PA)']
northeast_df['Northeast'] = avg_col.mean(axis=1)
northeast_df = northeast_df[['Date','Northeast']]

south_df = pd.read_csv("Resources/south.csv")
avg_col = south_df.loc[:, 'Delaware (DE)':'Texas (TX)']
south_df['South'] = avg_col.mean(axis=1)
south_df = south_df[['Date','South']]

west_df = pd.read_csv("Resources/west.csv")
avg_col = west_df.loc[:, 'Arizona (AZ)':'Washington (WA)']
west_df['West'] = avg_col.mean(axis=1)
west_df = west_df[['Date','West']]

combined_df = midwest_df.merge(northeast_df, on='Date').merge(south_df, on='Date').merge(west_df, on='Date')
combined_df.head()

         Date     Midwest   Northeast       South        West
0  2015-01-31  128.321883  146.520806  149.281654  162.389621
1  2015-02-28  128.700865  146.788901  149.996988  163.400031
2  2015-03-31  129.996721  147.831166  151.235812  165.055185
3  2015-04-30  131.774490  149.521584  152.701825  167.019688
4  2015-05-31  133.552698  151.515930  154.232387  168.975845